<p-panel header="Pipes basicos" class="p-2">
  <p>
    pipes incluidos en Angular
  </p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="Uppercase">
      1 {{name | uppercase}}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Lowercase">
      2 {{name | lowercase}}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Titlecase">
      3 {{name| titlecase}}
    </p-card>
  </div>
</div>

<div class="grid">
  <div class="col-12 md:col-6">
    <p-card header="Date">
      <ol>
        <li>Fecha</li>
        <li>Fecha | date</li>
        <li>Fecha | date:'sort'</li>
        <li>Fecha | date:'long'</li>
        <li>Fecha | date:'MMMM'</li>
        <li>Fecha | date:'MMMM dd, yyyy'</li>
        <hr>
      </ol>
      <ol>
        <li>Fecha | date:'long':'GMT-6'</li>
        <li>Fecha | date:'long':'GMT-4'</li>
      </ol>
    </p-card>
  </div>
  <div class="col-12 md:col-6">
    <p-card header="Date">
      <ol>
        <li>{{customDate}}</li>
        <li> {{customDate | date}}</li>
        <li>{{customDate | date:'sort'}}</li>
        <li>{{customDate | date:'long'}}</li>
        <li>{{customDate | date:'MMMM'}}</li>
        <li>{{customDate | date:'MMMM dd yyyy'}}</li>
        <hr>
      </ol>
      <ol>
        <li>{{customDate | date:'long':'GMT-6'}}</li>
        <li>{{customDate | date:'long':'GMT-4'}}</li>
        <li>{{customDate | date:'long':'':'es-co'}}</li>
      </ol>
    </p-card>
  </div>
</div>

